   /*------------------------> Sign Up Page Style<----------------------- */
   
   #signup-body {
       background: url(../img/bg1.jpg)no-repeat center center fixed;
       background-size: cover;
       background-position: center;
       margin: 0px;
       padding: 0px;
       font-family: 'Montserrat', sans-serif;
   }
   
   #signup-body::after {
       content: '';
       position: absolute;
       left: 0px;
       top: 0;
       height: 100%;
       width: 100%;
       background-color: rgba(0, 0, 0, 0.65);
       z-index: -1;
   }
   
   .container {
       width: 1200px;
       margin: 0px auto;
   }
   
   .signup-content {
       background: #fff;
       border-radius: 10px;
       padding: 15px 85px;
   }
   
   .signup-title {
       line-height: 1.66;
       margin: 0;
       padding: 0;
       font-weight: 900;
       color: #222;
       font-family: 'Montserrat', sans-serif;
       font-size: 24px;
       text-transform: uppercase;
       text-align: center;
       margin-bottom: 30px;
   }
   
   .signup-box {
       margin-bottom: 12px;
       /* position: relative; */
   }
   /* .signup-box label {
    position: absolute;
    top: 19px;
    bottom: auto;
    left: 21px;
} */
   
   .signup-box .signup-input {
       width: 100%;
       border: 1px solid #ebebeb;
       border-radius: 5px;
       padding: 17px 20px;
       box-sizing: border-box;
       font-size: 14px;
       font-weight: 500;
       color: #222;
   }
   
   .signup-box .signup-input:nth-child(5) {
       padding: 17px 20px 17px 322px;
   }
   
   .signup-box:nth-child(8) {
       margin-bottom: 30px;
   }
   
   .s-box input {
       border: 1px solid #ebebeb;
       border-radius: 5px;
       padding: 15px 475px;
       text-decoration: none;
       font-size: 20px;
       font-weight: 700;
       background: rgba(0, 0, 0, 0.65);
       color: aliceblue;
       cursor: pointer;
   }
   
   .s-box input:hover {
       color: #222;
       background: none;
       text-decoration: underline;
       transition: all 0.44s ease-in-out;
   }
   
   .signup-loginlink {
       color: #555;
       text-align: center;
       margin-bottom: 5px;
       margin-top: 30px;
       font-weight: 700;
   }
   
   .signup-loginlink a {
       font-weight: 700;
       color: #222
   }